---
---

@import "{{ site.theme }}";

.two_col_wrap {
}

.two_col_wrap div {
  width: 49.5%;
}

.left_code {
  float: left
}

.right_code {
  float: right
}

#nav_wrap {
  color: white;
  // background-color: blue;
  // background: red;
}

.nav_button {
  color: white;
  float: left;
  width: 33%;
  text-align: left;
  font-size: 18px;
}

#nav_wrap a {
  color: white;
}
